.like-comment-icons{
    margin-top:15px;
    padding-bottom: 0px;
    
}

.fa-heart {
    margin-right: 10px;
}

.likes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom:0;
}
.likes h4 {
    margin-bottom:0;
    
}