.individual-comment {
    display: flex;
    justify-content: flex-start;

    align-items: center;
}

.individual-comment h4 {
    margin: 0;
}

.individual-comment p {
    margin: 0 0 0 5px;

}

.comment-form {
    margin-top: 10px;
    border-top: .25px solid lightgrey;
    padding-top:5px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.comment-form input{
    border: none;
    font-size: 16px;
    font-weight: bold;
    width: 500px;
}

.comment-form button {
    width: 40px;
}
